extends ../layout/index

block content   
    main.container.mt-5 
        .row
            .col-md-12
                h1.text-center #{pageTitle}
                blockquote.text-center Read the Experiences from our Clients
                .row.testimonials
                    if(testimonials)
                        each testimonial in testimonials
                            .col-md-6.col-lg-4.mb-4
                                .card
                                    .card-body
                                        blockquote.blockquote
                                        p.mb-0
                                            | #{testimonials.message}    
                                        footer.blockquote-footer
                                            | #{testimonials.name}  
                        
                    


            .col-md-12
                h2.text-center Add a Testimonials

                if(errors)    
                    each error in errors
                        .alert.alert-danger.text-center=error.message
                        
                    
                .row.justify-content-center
                    .col-md-8
                        form(action="/testimonials" method="POST")
                            .form-group
                                label(for="") Name
                                input(id="name" type="text", class="form-control" placeholder="Your Name", name="name" value="name")
                            .form-group
                                label(for="") Email
                                input(id="email" type="email", class="form-control" placeholder="Your Email", name="email" value="email")
                            .form-group
                                label(for="message") Message
                                textarea#message(class="form-control" placeholder="Your Message", name="message" rows=3 value="message") 
                            input.btn.btn-success.btn-block(type="submit", value="Add Testomonials")