
extends ../layout/index

block content   
    main.container.mt-5 
        .row
            .col-md-5
                img(src="/img/about.jpg", alt="About image" class="img-fluid")
            .col-md-7
                h1 #{pageTitle}
                blockquote Lorem Ipsum is simply dummyp into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                p Contrary to popular belief, McClintock, the ge, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" "de Finibus Bonorum et Malorum" "de Finibus Bonorum et Malorum"
                p (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    .icon-list
         .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icon_trust.svg", alt="Icon", class="img-fluid.md-4")
                    h2.mb-4 Trust and Safety 
                    p here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                .col-md-4
                    img(src="/img/icon_destiny.svg", alt="Icon", class="img-fluid.md-4")
                    h2.mb-4 Best Destination 
                    p here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour    
                .col-md-4
                    img(src="/img/icon_price.svg", alt="Icon", class="img-fluid.md-4")
                    h2.mb-4 Best Price
                    p here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour        